body {
  height: 100%;
  background-color: bisque;
}
main {
  display: flex;
  width: auto;
}

div.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 65px auto 65px;
  grid-template-areas:
    "header header header"
    "page page page"
    "footer footer footer";
}
